[Unit]
Description=KHL incremental statistics refresh hourly at minute 22

[Timer]
OnCalendar=*-*-* *:22:00 Europe/Moscow
Persistent=true
AccuracySec=1s
RandomizedDelaySec=0
Unit=fantasy-khl-statistics.service

[Install]
WantedBy=timers.target
